

    <div class="titulos">
    <h1>BIENVENIDOS A FREE RED</h1>
    <H2>UN CHAT LIBRE COMO UNO MISMO</H2>
    <h2>------------------</h2>
</div>

<div class="container">
  <div class="column">
      <div class="animated-text">
  <h3>JUNTAS</h3>
</div>
  </div>
  <div class="column">
      <div class="animated-text">
  <h3>ZONA 4:20</h3>
</div>
  </div>
  <div class="column">
    <div class="animated-text">
  <h3>SIN RESTRICCIONES</h3>
</div>
  </div>
</div>

<div class="cajachat">
<i id="username"></i> <input id="chatbox">
    <div id="logs">
    </div>
    </div>

<div class="futer">
    <footer>
  <p>Todos los derechos reservados &copy; 2023 FJR servicios</p>
</footer>

</div>









<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>
<link rel="stylesheet" href="/static/css/estilos.css">

